html, body, .todo {
    padding: 0;
    width: 260px;
  	margin:0 auto;
    background-color: #cccccc;
}

.todo {
    list-style-type: none;
}

.todo__input, .todo__item {
    margin: 10px;
    width: 100%;

}

.todo__input{
	background-color: #cccccc;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    
}

.todo__item--done {
    text-decoration: line-through;
    background-color: #B22222;
}

#addTodo {
    margin-left: 10px;
}

.title {
    font-size: 58px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    
}	

h1 {
  font-size: 50px;
}

.radio-inline {
    margin-left: 60px;
}

.js_toggle_todo {
    margin-right: 15px;
}

.filter {
    margin-bottom: 25px;
    margin-left: -13px;
}

img {
   height: 130px; 
   width: 130px;
   display: inline-block;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 10px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    transition: .5s ease;
    top: 20%;
    left: 54%;
}